<!-- Image and text -->
  <nav class="navbar navbar-dark bg-dark row">
    <a class="col-md-1" href="#" >
      <img
      src="../../../assets/icons/skull-white.png"
      width="80"
      height="80"
      class="d-inline-block align-center "
      alt=""
      loading="lazy"
      />
    </a>
    <a class="col-md-6" href="#"><h2>Fandrade-Labo4</h2></a>
    <a class="col-md-1 texto-aling" href="bienvenido"><h3>Bienvenido</h3>  </a>
    <a class="col-md-1 texto-aling" href="login "><h3>Login</h3>  </a>
    <a class="col-md-1 texto-aling" href="calculo "><h3>Calculo</h3>  </a>
    <a class="col-md-1 " style="text-align: left;" href="error"><h3>Error</h3>  </a>
  </nav>
