    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:03
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-atom-variant:before { content: "\f100"; }
.flaticon-back-part-of-the-body-showing-butt-area:before { content: "\f101"; }
.flaticon-ball-of-the-knee:before { content: "\f102"; }
.flaticon-blond-female-hair-shape:before { content: "\f103"; }
.flaticon-blond-female-short-hair-shape:before { content: "\f104"; }
.flaticon-blood-drop-on-a-hand-wound:before { content: "\f105"; }
.flaticon-body-cells-under-a-magnification-tool:before { content: "\f106"; }
.flaticon-body-organ-variant-with-line:before { content: "\f107"; }
.flaticon-body-organ-with-hair-strands-view-on-plate:before { content: "\f108"; }
.flaticon-body-part-with-baby-inside:before { content: "\f109"; }
.flaticon-body-part-with-lines:before { content: "\f10a"; }
.flaticon-body-part-x-ray-internal-vision:before { content: "\f10b"; }
.flaticon-bone-structure-tip:before { content: "\f10c"; }
.flaticon-bones-cross:before { content: "\f10d"; }
.flaticon-bones-silhouette-forming-a-cross-symbol:before { content: "\f10e"; }
.flaticon-bones-x-ray-vision:before { content: "\f10f"; }
.flaticon-bosom:before { content: "\f110"; }
.flaticon-brain-body-organ-outline:before { content: "\f111"; }
.flaticon-brain-inside-human-head:before { content: "\f112"; }
.flaticon-brain-upper-view-outline:before { content: "\f113"; }
.flaticon-brunette-female-woman-long-hair:before { content: "\f114"; }
.flaticon-butt-wearing-underwear:before { content: "\f115"; }
.flaticon-calf-and-foot:before { content: "\f116"; }
.flaticon-capsule-black-and-white-variant:before { content: "\f117"; }
.flaticon-circular-shape-variant-with-dot:before { content: "\f118"; }
.flaticon-closed-eyes-with-lashes-and-brows:before { content: "\f119"; }
.flaticon-closed-fist-hand-gesture:before { content: "\f11a"; }
.flaticon-column-inside-a-male-human-body-silhouette-in-side-view:before { content: "\f11b"; }
.flaticon-couple-of-fingers:before { content: "\f11c"; }
.flaticon-cross-in-a-circle-on-a-human-body-silhouette:before { content: "\f11d"; }
.flaticon-dentist:before { content: "\f11e"; }
.flaticon-dna:before { content: "\f11f"; }
.flaticon-dna-deoxyribonucleic-acid:before { content: "\f120"; }
.flaticon-dna-strands-outline:before { content: "\f121"; }
.flaticon-domino-piece-with-six-dots:before { content: "\f122"; }
.flaticon-ear-lobe-side-view-outline:before { content: "\f123"; }
.flaticon-ear-outline:before { content: "\f124"; }
.flaticon-excretory-system-silhouette:before { content: "\f125"; }
.flaticon-eye-outline-with-lashes:before { content: "\f126"; }
.flaticon-eye-variant-with-enlarged-pupil:before { content: "\f127"; }
.flaticon-eyeball:before { content: "\f128"; }
.flaticon-face-of-a-woman-outline:before { content: "\f129"; }
.flaticon-female-blond-hair-shape-outline:before { content: "\f12a"; }
.flaticon-female-hair-variant-outline:before { content: "\f12b"; }
.flaticon-female-hips-and-waist:before { content: "\f12c"; }
.flaticon-female-human-eyes:before { content: "\f12d"; }
.flaticon-female-reproductive-system-representation:before { content: "\f12e"; }
.flaticon-female-short-hair-style-variant:before { content: "\f12f"; }
.flaticon-female-short-hair-variant:before { content: "\f130"; }
.flaticon-female-sign:before { content: "\f131"; }
.flaticon-female-torso-outline-in-topless:before { content: "\f132"; }
.flaticon-fetus-in-an-uterus:before { content: "\f133"; }
.flaticon-first-aid-cross-in-a-circle:before { content: "\f134"; }
.flaticon-foot-side-view-outline:before { content: "\f135"; }
.flaticon-footprints-outline-variant:before { content: "\f136"; }
.flaticon-gallbladder-on-viewing-plate:before { content: "\f137"; }
.flaticon-gymnast-in-frontal-view-showing-his-muscles:before { content: "\f138"; }
.flaticon-hair-follicle:before { content: "\f139"; }
.flaticon-hand-bones-in-x-ray-plate:before { content: "\f13a"; }
.flaticon-hand-finger-with-a-ribbon:before { content: "\f13b"; }
.flaticon-hand-gesture-outline-pointing-to-the-left:before { content: "\f13c"; }
.flaticon-hand-gesture-pointing-to-the-left:before { content: "\f13d"; }
.flaticon-hand-gesture-raising-the-index-finger:before { content: "\f13e"; }
.flaticon-hand-nadis:before { content: "\f13f"; }
.flaticon-hand-outline:before { content: "\f140"; }
.flaticon-hand-palm-outline:before { content: "\f141"; }
.flaticon-hand-palm-outline-with-scratch-wound-with-blood-droplet:before { content: "\f142"; }
.flaticon-hand-showing-palm-outline:before { content: "\f143"; }
.flaticon-hand-showing-palm-outline-with-band-aid:before { content: "\f144"; }
.flaticon-heart-black-shape-for-valentines:before { content: "\f145"; }
.flaticon-heart-shape-outline-with-lifeline-variant:before { content: "\f146"; }
.flaticon-heart-shape-with-beats-line:before { content: "\f147"; }
.flaticon-heart-silhouette:before { content: "\f148"; }
.flaticon-hips-bones-x-rays-vision:before { content: "\f149"; }
.flaticon-hips-human-body-part:before { content: "\f14a"; }
.flaticon-hips-x-rays-image-on-standing-man-hands:before { content: "\f14b"; }
.flaticon-human-body-silhouette-with-focus-on-respiratory-system:before { content: "\f14c"; }
.flaticon-human-body-silhouette-with-focus-on-the-head:before { content: "\f14d"; }
.flaticon-human-body-silhouette-with-highlight-on-large-intestines:before { content: "\f14e"; }
.flaticon-human-body-standing-black-silhouette:before { content: "\f14f"; }
.flaticon-human-body-with-heart-silhouette:before { content: "\f150"; }
.flaticon-human-body-with-x-ray-plate-focusing-on-stomach:before { content: "\f151"; }
.flaticon-human-footprints:before { content: "\f152"; }
.flaticon-human-hair-outline-shape:before { content: "\f153"; }
.flaticon-human-hand-bones:before { content: "\f154"; }
.flaticon-human-head-silhouette-with-a-line-in-mouth-pharynx-and-larynx:before { content: "\f155"; }
.flaticon-human-hips-bones-inside-a-standing-male-body-black-silhouette:before { content: "\f156"; }
.flaticon-human-lips:before { content: "\f157"; }
.flaticon-human-lungs-outline:before { content: "\f158"; }
.flaticon-human-outline-with-heart:before { content: "\f159"; }
.flaticon-human-ribs-bones:before { content: "\f15a"; }
.flaticon-human-silhouette-with-focus-on-the-lungs:before { content: "\f15b"; }
.flaticon-human-silhouette-with-white-image-of-the-heart:before { content: "\f15c"; }
.flaticon-human-skull-side-view:before { content: "\f15d"; }
.flaticon-human-skull-side-view-silhouette:before { content: "\f15e"; }
.flaticon-human-skull-with-crossed-bones-silhouette:before { content: "\f15f"; }
.flaticon-hunger-games-hand-gesture:before { content: "\f160"; }
.flaticon-hydration:before { content: "\f161"; }
.flaticon-image-of-sperm-cells:before { content: "\f162"; }
.flaticon-injured-tooth:before { content: "\f163"; }
.flaticon-internal-human-organs:before { content: "\f164"; }
.flaticon-internal-human-organs-couple:before { content: "\f165"; }
.flaticon-intestines:before { content: "\f166"; }
.flaticon-kidney-outline:before { content: "\f167"; }
.flaticon-kneecap:before { content: "\f168"; }
.flaticon-large-intestine-outline:before { content: "\f169"; }
.flaticon-large-intestines-outline:before { content: "\f16a"; }
.flaticon-lifeline-and-heart-shape-on-a-graphic:before { content: "\f16b"; }
.flaticon-liquid-droplet-on-ground:before { content: "\f16c"; }
.flaticon-liver:before { content: "\f16d"; }
.flaticon-liver-organ-inside-the-abdomen-outline:before { content: "\f16e"; }
.flaticon-long-wavy-hair-variant:before { content: "\f16f"; }
.flaticon-lungs-image-on-man-hands:before { content: "\f170"; }
.flaticon-lungs-inside-the-human-body:before { content: "\f171"; }
.flaticon-lungs-shape-in-a-circle-on-a-human-body:before { content: "\f172"; }
.flaticon-lungs-with-the-trachea:before { content: "\f173"; }
.flaticon-male-and-female-gender-symbols:before { content: "\f174"; }
.flaticon-male-arm-muscles:before { content: "\f175"; }
.flaticon-male-black-short-hair-shape-silhouette:before { content: "\f176"; }
.flaticon-male-cartoon-outline-with-liquid-droplet:before { content: "\f177"; }
.flaticon-male-hair-variant:before { content: "\f178"; }
.flaticon-male-hand-palm-outline:before { content: "\f179"; }
.flaticon-male-head-outline-side-view-with-medical-tape:before { content: "\f17a"; }
.flaticon-male-head-side-view-with-brains:before { content: "\f17b"; }
.flaticon-male-hips-and-quadriceps:before { content: "\f17c"; }
.flaticon-male-human-body-silhouette-variant:before { content: "\f17d"; }
.flaticon-male-legs-couple:before { content: "\f17e"; }
.flaticon-male-nose-shape-of-a-line:before { content: "\f17f"; }
.flaticon-male-outline-with-heart-shape-and-lifeline:before { content: "\f180"; }
.flaticon-male-outline-with-image-of-the-heart:before { content: "\f181"; }
.flaticon-male-outline-with-stomach-silhouette:before { content: "\f182"; }
.flaticon-male-outline-with-syringe-symbol:before { content: "\f183"; }
.flaticon-male-short-hair-shape:before { content: "\f184"; }
.flaticon-male-sign:before { content: "\f185"; }
.flaticon-male-silhouette-showing-view-of-dna-structure:before { content: "\f186"; }
.flaticon-male-silhouette-with-body-organ-in-x-ray-view:before { content: "\f187"; }
.flaticon-male-silhouette-with-plate-showing-sperms:before { content: "\f188"; }
.flaticon-male-with-bald-hair-side-view:before { content: "\f189"; }
.flaticon-man-having-an-x-ray-of-bone:before { content: "\f18a"; }
.flaticon-man-holding-a-hand-bones-x-ray-image:before { content: "\f18b"; }
.flaticon-man-outline-with-view-of-the-intestine:before { content: "\f18c"; }
.flaticon-man-torso-muscles:before { content: "\f18d"; }
.flaticon-medical-kit-outline:before { content: "\f18e"; }
.flaticon-molecule-with-rings:before { content: "\f18f"; }
.flaticon-moustache-outline:before { content: "\f190"; }
.flaticon-mouth-outline-showing-off-tongue:before { content: "\f191"; }
.flaticon-muscular-arm-outline:before { content: "\f192"; }
.flaticon-mustache-curled-tip-variant:before { content: "\f193"; }
.flaticon-nose-outline:before { content: "\f194"; }
.flaticon-nose-pointed-variant-with-mustache:before { content: "\f195"; }
.flaticon-observing-human-body-details-with-a-magnifier-tool:before { content: "\f196"; }
.flaticon-pelvic-bone-silhouette:before { content: "\f197"; }
.flaticon-pills-container:before { content: "\f198"; }
.flaticon-plate-showing-deoxyribonucleic-acid-structure:before { content: "\f199"; }
.flaticon-polygon-shape-outline-with-circle-and-stitch:before { content: "\f19a"; }
.flaticon-ribs-lines:before { content: "\f19b"; }
.flaticon-ribs-x-rays:before { content: "\f19c"; }
.flaticon-short-black-male-hair-shape:before { content: "\f19d"; }
.flaticon-skin-layers-with-hair-follicles:before { content: "\f19e"; }
.flaticon-skull-cartoon-variant-outline:before { content: "\f19f"; }
.flaticon-skull-cartoon-variant-with-tape-on-left-eye:before { content: "\f1a0"; }
.flaticon-skull-of-straight-lines:before { content: "\f1a1"; }
.flaticon-skull-outline-from-frontal-view:before { content: "\f1a2"; }
.flaticon-small-syringe-with-large-droplet-of-fluid:before { content: "\f1a3"; }
.flaticon-smiling-mouth-showing-teeth:before { content: "\f1a4"; }
.flaticon-sperm-entering-to-an-ovule:before { content: "\f1a5"; }
.flaticon-sperms:before { content: "\f1a6"; }
.flaticon-spleen:before { content: "\f1a7"; }
.flaticon-spleen-human-body-part:before { content: "\f1a8"; }
.flaticon-standing-human-body-shape:before { content: "\f1a9"; }
.flaticon-standing-human-body-silhouette:before { content: "\f1aa"; }
.flaticon-standing-male-silhouette-with-x-ray-view-of-the-lungs:before { content: "\f1ab"; }
.flaticon-standing-man-holding-a-large-intestines-image:before { content: "\f1ac"; }
.flaticon-standing-man-holding-an-x-rays-image:before { content: "\f1ad"; }
.flaticon-stomach:before { content: "\f1ae"; }
.flaticon-stomach-inside-human-body:before { content: "\f1af"; }
.flaticon-straight-bones-cross:before { content: "\f1b0"; }
.flaticon-sweat-or-tear-drop-outline:before { content: "\f1b1"; }
.flaticon-symmetrical-body-parts:before { content: "\f1b2"; }
.flaticon-syringe:before { content: "\f1b3"; }
.flaticon-tablet-and-capsule-medications:before { content: "\f1b4"; }
.flaticon-test-tube-with-droplet:before { content: "\f1b5"; }
.flaticon-thin-lips-outline:before { content: "\f1b6"; }
.flaticon-tiptoe-feet-outline:before { content: "\f1b7"; }
.flaticon-tooth-human-body-part:before { content: "\f1b8"; }
.flaticon-tooth-outline:before { content: "\f1b9"; }
.flaticon-tooth-outline-1:before { content: "\f1ba"; }
.flaticon-tooth-shape-outline:before { content: "\f1bb"; }
.flaticon-tooth-x-rays-vision:before { content: "\f1bc"; }
.flaticon-two-fingers-between-three-in-a-hand-outline:before { content: "\f1bd"; }
.flaticon-two-fingers-of-a-hand:before { content: "\f1be"; }
.flaticon-upper-body-muscular-view:before { content: "\f1bf"; }
.flaticon-upper-torso-of-a-woman:before { content: "\f1c0"; }
.flaticon-urine-in-a-flask-for-experimentation:before { content: "\f1c1"; }
.flaticon-uterus-and-fallopian-tube:before { content: "\f1c2"; }
.flaticon-uterus-and-fallopian-tube-inside-woman-body-outline:before { content: "\f1c3"; }
.flaticon-waist:before { content: "\f1c4"; }
.flaticon-woman-dark-long-hair-shape:before { content: "\f1c5"; }
.flaticon-wound-in-a-hand:before { content: "\f1c6"; }
.flaticon-young-male-black-short-hair-shape:before { content: "\f1c7"; }
    
    $font-Flaticon-atom-variant: "\f100";
    $font-Flaticon-back-part-of-the-body-showing-butt-area: "\f101";
    $font-Flaticon-ball-of-the-knee: "\f102";
    $font-Flaticon-blond-female-hair-shape: "\f103";
    $font-Flaticon-blond-female-short-hair-shape: "\f104";
    $font-Flaticon-blood-drop-on-a-hand-wound: "\f105";
    $font-Flaticon-body-cells-under-a-magnification-tool: "\f106";
    $font-Flaticon-body-organ-variant-with-line: "\f107";
    $font-Flaticon-body-organ-with-hair-strands-view-on-plate: "\f108";
    $font-Flaticon-body-part-with-baby-inside: "\f109";
    $font-Flaticon-body-part-with-lines: "\f10a";
    $font-Flaticon-body-part-x-ray-internal-vision: "\f10b";
    $font-Flaticon-bone-structure-tip: "\f10c";
    $font-Flaticon-bones-cross: "\f10d";
    $font-Flaticon-bones-silhouette-forming-a-cross-symbol: "\f10e";
    $font-Flaticon-bones-x-ray-vision: "\f10f";
    $font-Flaticon-bosom: "\f110";
    $font-Flaticon-brain-body-organ-outline: "\f111";
    $font-Flaticon-brain-inside-human-head: "\f112";
    $font-Flaticon-brain-upper-view-outline: "\f113";
    $font-Flaticon-brunette-female-woman-long-hair: "\f114";
    $font-Flaticon-butt-wearing-underwear: "\f115";
    $font-Flaticon-calf-and-foot: "\f116";
    $font-Flaticon-capsule-black-and-white-variant: "\f117";
    $font-Flaticon-circular-shape-variant-with-dot: "\f118";
    $font-Flaticon-closed-eyes-with-lashes-and-brows: "\f119";
    $font-Flaticon-closed-fist-hand-gesture: "\f11a";
    $font-Flaticon-column-inside-a-male-human-body-silhouette-in-side-view: "\f11b";
    $font-Flaticon-couple-of-fingers: "\f11c";
    $font-Flaticon-cross-in-a-circle-on-a-human-body-silhouette: "\f11d";
    $font-Flaticon-dentist: "\f11e";
    $font-Flaticon-dna: "\f11f";
    $font-Flaticon-dna-deoxyribonucleic-acid: "\f120";
    $font-Flaticon-dna-strands-outline: "\f121";
    $font-Flaticon-domino-piece-with-six-dots: "\f122";
    $font-Flaticon-ear-lobe-side-view-outline: "\f123";
    $font-Flaticon-ear-outline: "\f124";
    $font-Flaticon-excretory-system-silhouette: "\f125";
    $font-Flaticon-eye-outline-with-lashes: "\f126";
    $font-Flaticon-eye-variant-with-enlarged-pupil: "\f127";
    $font-Flaticon-eyeball: "\f128";
    $font-Flaticon-face-of-a-woman-outline: "\f129";
    $font-Flaticon-female-blond-hair-shape-outline: "\f12a";
    $font-Flaticon-female-hair-variant-outline: "\f12b";
    $font-Flaticon-female-hips-and-waist: "\f12c";
    $font-Flaticon-female-human-eyes: "\f12d";
    $font-Flaticon-female-reproductive-system-representation: "\f12e";
    $font-Flaticon-female-short-hair-style-variant: "\f12f";
    $font-Flaticon-female-short-hair-variant: "\f130";
    $font-Flaticon-female-sign: "\f131";
    $font-Flaticon-female-torso-outline-in-topless: "\f132";
    $font-Flaticon-fetus-in-an-uterus: "\f133";
    $font-Flaticon-first-aid-cross-in-a-circle: "\f134";
    $font-Flaticon-foot-side-view-outline: "\f135";
    $font-Flaticon-footprints-outline-variant: "\f136";
    $font-Flaticon-gallbladder-on-viewing-plate: "\f137";
    $font-Flaticon-gymnast-in-frontal-view-showing-his-muscles: "\f138";
    $font-Flaticon-hair-follicle: "\f139";
    $font-Flaticon-hand-bones-in-x-ray-plate: "\f13a";
    $font-Flaticon-hand-finger-with-a-ribbon: "\f13b";
    $font-Flaticon-hand-gesture-outline-pointing-to-the-left: "\f13c";
    $font-Flaticon-hand-gesture-pointing-to-the-left: "\f13d";
    $font-Flaticon-hand-gesture-raising-the-index-finger: "\f13e";
    $font-Flaticon-hand-nadis: "\f13f";
    $font-Flaticon-hand-outline: "\f140";
    $font-Flaticon-hand-palm-outline: "\f141";
    $font-Flaticon-hand-palm-outline-with-scratch-wound-with-blood-droplet: "\f142";
    $font-Flaticon-hand-showing-palm-outline: "\f143";
    $font-Flaticon-hand-showing-palm-outline-with-band-aid: "\f144";
    $font-Flaticon-heart-black-shape-for-valentines: "\f145";
    $font-Flaticon-heart-shape-outline-with-lifeline-variant: "\f146";
    $font-Flaticon-heart-shape-with-beats-line: "\f147";
    $font-Flaticon-heart-silhouette: "\f148";
    $font-Flaticon-hips-bones-x-rays-vision: "\f149";
    $font-Flaticon-hips-human-body-part: "\f14a";
    $font-Flaticon-hips-x-rays-image-on-standing-man-hands: "\f14b";
    $font-Flaticon-human-body-silhouette-with-focus-on-respiratory-system: "\f14c";
    $font-Flaticon-human-body-silhouette-with-focus-on-the-head: "\f14d";
    $font-Flaticon-human-body-silhouette-with-highlight-on-large-intestines: "\f14e";
    $font-Flaticon-human-body-standing-black-silhouette: "\f14f";
    $font-Flaticon-human-body-with-heart-silhouette: "\f150";
    $font-Flaticon-human-body-with-x-ray-plate-focusing-on-stomach: "\f151";
    $font-Flaticon-human-footprints: "\f152";
    $font-Flaticon-human-hair-outline-shape: "\f153";
    $font-Flaticon-human-hand-bones: "\f154";
    $font-Flaticon-human-head-silhouette-with-a-line-in-mouth-pharynx-and-larynx: "\f155";
    $font-Flaticon-human-hips-bones-inside-a-standing-male-body-black-silhouette: "\f156";
    $font-Flaticon-human-lips: "\f157";
    $font-Flaticon-human-lungs-outline: "\f158";
    $font-Flaticon-human-outline-with-heart: "\f159";
    $font-Flaticon-human-ribs-bones: "\f15a";
    $font-Flaticon-human-silhouette-with-focus-on-the-lungs: "\f15b";
    $font-Flaticon-human-silhouette-with-white-image-of-the-heart: "\f15c";
    $font-Flaticon-human-skull-side-view: "\f15d";
    $font-Flaticon-human-skull-side-view-silhouette: "\f15e";
    $font-Flaticon-human-skull-with-crossed-bones-silhouette: "\f15f";
    $font-Flaticon-hunger-games-hand-gesture: "\f160";
    $font-Flaticon-hydration: "\f161";
    $font-Flaticon-image-of-sperm-cells: "\f162";
    $font-Flaticon-injured-tooth: "\f163";
    $font-Flaticon-internal-human-organs: "\f164";
    $font-Flaticon-internal-human-organs-couple: "\f165";
    $font-Flaticon-intestines: "\f166";
    $font-Flaticon-kidney-outline: "\f167";
    $font-Flaticon-kneecap: "\f168";
    $font-Flaticon-large-intestine-outline: "\f169";
    $font-Flaticon-large-intestines-outline: "\f16a";
    $font-Flaticon-lifeline-and-heart-shape-on-a-graphic: "\f16b";
    $font-Flaticon-liquid-droplet-on-ground: "\f16c";
    $font-Flaticon-liver: "\f16d";
    $font-Flaticon-liver-organ-inside-the-abdomen-outline: "\f16e";
    $font-Flaticon-long-wavy-hair-variant: "\f16f";
    $font-Flaticon-lungs-image-on-man-hands: "\f170";
    $font-Flaticon-lungs-inside-the-human-body: "\f171";
    $font-Flaticon-lungs-shape-in-a-circle-on-a-human-body: "\f172";
    $font-Flaticon-lungs-with-the-trachea: "\f173";
    $font-Flaticon-male-and-female-gender-symbols: "\f174";
    $font-Flaticon-male-arm-muscles: "\f175";
    $font-Flaticon-male-black-short-hair-shape-silhouette: "\f176";
    $font-Flaticon-male-cartoon-outline-with-liquid-droplet: "\f177";
    $font-Flaticon-male-hair-variant: "\f178";
    $font-Flaticon-male-hand-palm-outline: "\f179";
    $font-Flaticon-male-head-outline-side-view-with-medical-tape: "\f17a";
    $font-Flaticon-male-head-side-view-with-brains: "\f17b";
    $font-Flaticon-male-hips-and-quadriceps: "\f17c";
    $font-Flaticon-male-human-body-silhouette-variant: "\f17d";
    $font-Flaticon-male-legs-couple: "\f17e";
    $font-Flaticon-male-nose-shape-of-a-line: "\f17f";
    $font-Flaticon-male-outline-with-heart-shape-and-lifeline: "\f180";
    $font-Flaticon-male-outline-with-image-of-the-heart: "\f181";
    $font-Flaticon-male-outline-with-stomach-silhouette: "\f182";
    $font-Flaticon-male-outline-with-syringe-symbol: "\f183";
    $font-Flaticon-male-short-hair-shape: "\f184";
    $font-Flaticon-male-sign: "\f185";
    $font-Flaticon-male-silhouette-showing-view-of-dna-structure: "\f186";
    $font-Flaticon-male-silhouette-with-body-organ-in-x-ray-view: "\f187";
    $font-Flaticon-male-silhouette-with-plate-showing-sperms: "\f188";
    $font-Flaticon-male-with-bald-hair-side-view: "\f189";
    $font-Flaticon-man-having-an-x-ray-of-bone: "\f18a";
    $font-Flaticon-man-holding-a-hand-bones-x-ray-image: "\f18b";
    $font-Flaticon-man-outline-with-view-of-the-intestine: "\f18c";
    $font-Flaticon-man-torso-muscles: "\f18d";
    $font-Flaticon-medical-kit-outline: "\f18e";
    $font-Flaticon-molecule-with-rings: "\f18f";
    $font-Flaticon-moustache-outline: "\f190";
    $font-Flaticon-mouth-outline-showing-off-tongue: "\f191";
    $font-Flaticon-muscular-arm-outline: "\f192";
    $font-Flaticon-mustache-curled-tip-variant: "\f193";
    $font-Flaticon-nose-outline: "\f194";
    $font-Flaticon-nose-pointed-variant-with-mustache: "\f195";
    $font-Flaticon-observing-human-body-details-with-a-magnifier-tool: "\f196";
    $font-Flaticon-pelvic-bone-silhouette: "\f197";
    $font-Flaticon-pills-container: "\f198";
    $font-Flaticon-plate-showing-deoxyribonucleic-acid-structure: "\f199";
    $font-Flaticon-polygon-shape-outline-with-circle-and-stitch: "\f19a";
    $font-Flaticon-ribs-lines: "\f19b";
    $font-Flaticon-ribs-x-rays: "\f19c";
    $font-Flaticon-short-black-male-hair-shape: "\f19d";
    $font-Flaticon-skin-layers-with-hair-follicles: "\f19e";
    $font-Flaticon-skull-cartoon-variant-outline: "\f19f";
    $font-Flaticon-skull-cartoon-variant-with-tape-on-left-eye: "\f1a0";
    $font-Flaticon-skull-of-straight-lines: "\f1a1";
    $font-Flaticon-skull-outline-from-frontal-view: "\f1a2";
    $font-Flaticon-small-syringe-with-large-droplet-of-fluid: "\f1a3";
    $font-Flaticon-smiling-mouth-showing-teeth: "\f1a4";
    $font-Flaticon-sperm-entering-to-an-ovule: "\f1a5";
    $font-Flaticon-sperms: "\f1a6";
    $font-Flaticon-spleen: "\f1a7";
    $font-Flaticon-spleen-human-body-part: "\f1a8";
    $font-Flaticon-standing-human-body-shape: "\f1a9";
    $font-Flaticon-standing-human-body-silhouette: "\f1aa";
    $font-Flaticon-standing-male-silhouette-with-x-ray-view-of-the-lungs: "\f1ab";
    $font-Flaticon-standing-man-holding-a-large-intestines-image: "\f1ac";
    $font-Flaticon-standing-man-holding-an-x-rays-image: "\f1ad";
    $font-Flaticon-stomach: "\f1ae";
    $font-Flaticon-stomach-inside-human-body: "\f1af";
    $font-Flaticon-straight-bones-cross: "\f1b0";
    $font-Flaticon-sweat-or-tear-drop-outline: "\f1b1";
    $font-Flaticon-symmetrical-body-parts: "\f1b2";
    $font-Flaticon-syringe: "\f1b3";
    $font-Flaticon-tablet-and-capsule-medications: "\f1b4";
    $font-Flaticon-test-tube-with-droplet: "\f1b5";
    $font-Flaticon-thin-lips-outline: "\f1b6";
    $font-Flaticon-tiptoe-feet-outline: "\f1b7";
    $font-Flaticon-tooth-human-body-part: "\f1b8";
    $font-Flaticon-tooth-outline: "\f1b9";
    $font-Flaticon-tooth-outline-1: "\f1ba";
    $font-Flaticon-tooth-shape-outline: "\f1bb";
    $font-Flaticon-tooth-x-rays-vision: "\f1bc";
    $font-Flaticon-two-fingers-between-three-in-a-hand-outline: "\f1bd";
    $font-Flaticon-two-fingers-of-a-hand: "\f1be";
    $font-Flaticon-upper-body-muscular-view: "\f1bf";
    $font-Flaticon-upper-torso-of-a-woman: "\f1c0";
    $font-Flaticon-urine-in-a-flask-for-experimentation: "\f1c1";
    $font-Flaticon-uterus-and-fallopian-tube: "\f1c2";
    $font-Flaticon-uterus-and-fallopian-tube-inside-woman-body-outline: "\f1c3";
    $font-Flaticon-waist: "\f1c4";
    $font-Flaticon-woman-dark-long-hair-shape: "\f1c5";
    $font-Flaticon-wound-in-a-hand: "\f1c6";
    $font-Flaticon-young-male-black-short-hair-shape: "\f1c7";