
<h1>Ingrese las edades</h1>
<p><label for="">Edad Uno:<input type="text" [(ngModel)]='edadUno'></label> </p>
<p><label for="">Edad Dos:<input type="text" [(ngModel)]='edadDos'></label> </p>
<p hidden id="pPromedio"><label for="">Promedio:<input type="text" value="{{promedio}}" ></label> </p>
<p hidden id="pSuma"><label for="">Suma: <input type="text" value="{{suma}}" ></label> </p>

<p><button (click)="CalcularClick()">Calcular</button>
    <button (click)="LimpiarClick()">Limpiar</button></p>
<router-outlet></router-outlet>