
<app-navbar></app-navbar>

<!-- <header color='primary'>Ingrese las edades</header>
<p><label for="">Edad Uno:<input type="number" [(ngModel)]='edadUno'></label> </p>
<p><label for="">Edad Dos:<input type="number" [(ngModel)]='edadDos'></label> </p>
<p hidden id="pPromedio"><label for="">Promedio:<input type="text" value="{{promedio}}" ></label> </p>
<p hidden id="pSuma"><label for="">Suma: <input type="text" value="{{suma}}" ></label> </p>

<p><button (click)="CalcularClick()" color='primary' >Calcular</button>
    <button (click)="LimpiarClick()" color='primary'>Limpiar</button></p> -->
    <div class="container mt-3">  
        <router-outlet></router-outlet>
    </div>
    