
  <div class="input-group mb-3">
      <div class="input-group-append">
          <span class="input-group-text" id="basic-addon1">@example.com</span>
        </div>
    <input type="text" class="form-control" placeholder="Nombre de Usuario" aria-label="Nombre de Usuario"
        aria-describedby="basic-addon2" [(ngModel)]='user'>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text " id="basic-addon1">Password:</span>
        </div>
        <input type="password" class="form-control" placeholder="Password" aria-label="Password"
            aria-describedby="basic-addon1" [(ngModel)]='pass'>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)= 'aceptar()'>Aceptar</button>
        <button type="button" class="btn btn-secondary" (click)= 'borrar()'>Borrar</button>
    </div>